<template>
  <div class="text-center">
    <v-rating
      v-model="avgRating"
      readonly
      background-color="pink"
      color="pink"
      :empty-icon="rating.emptyIcon"
      :half-icon="rating.halfIcon"
      :full-icon="rating.fullIcon"
      half-increments
    ></v-rating>
  </div>
</template>

<script>
  module.exports = {
    props: ["item"],
    data: () => ({
      rating: {
        emptyIcon: "mdi-star-outline",
        halfIcon: "mdi-star-half",
        fullIcon: "mdi-star",
      }
    }),
    computed: {
      avgRating() {
        let summe = 0;
        let anzahl = 0;
        let avg = 0;

        this.item.forEach(rating => {
          summe = summe + rating.rating;
          anzahl++;
          avg = summe / anzahl;
        });

        

        return avg;
      }
    }
  }
</script>
