<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
<div id="app">
  <v-app>
    <v-main>
      <v-container>

        <v-row>
          <v-col cols="6">
            <h1>{{ titel }}</h1>
          </v-col>
          <v-col cols="6" class="text-right">
            <lieferant-add></lieferant-add>
            <v-btn depressed color="primary" @click="resetFilter">
              Reset Filter
            </v-btn>
          </v-col>
        </v-row>


        <v-row>
          <v-col v-for="lieferant in lieferanten" :key="lieferanten.id">
            <v-card class="mx-auto" max-width="344">
              <v-img :src="lieferant.profilbild"></v-img>

              <v-card-title>
                {{ lieferant.name }}
              </v-card-title>

              <v-card-subtitle>
                <v-icon color="teal" class="mr-2">mdi-email</v-icon>
                {{ lieferant.email }}<br/>
                <v-icon color="teal" class="mr-2">mdi-phone</v-icon>
                {{ lieferant.telefon }}
              </v-card-subtitle>

              <v-card-text>
                {{ lieferant.strasse }} {{ lieferant.hnr }}<br/>
                {{ lieferant.ort }}<br/>
                {{ lieferant.land }}<br/>

                <span v-for="kat in lieferant.kategorien">
                                    <v-chip class="ma-2" :color="getColor(kat.id)"
                                            @click="filterLieferanten(kat.name)">
                                        {{ kat.name | toUpper }}
                                    </v-chip>
                                </span>

                <rating-score :item="lieferant"></rating-score>

              </v-card-text>


              <v-card-actions>
                <v-btn color="orange lighten-2" text>Explore</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>



        <pre>{{ lieferanten }}</pre>




      </v-container>
    </v-main>
  </v-app>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script src="https://unpkg.com/http-vue-loader"></script>
<script>
  new Vue({
    el: '#app',
    components: {
      'lieferant-add': httpVueLoader('js/components/Lieferant.vue'),
      'rating-score': httpVueLoader('js/components/Rating.vue'),
    },
    vuetify: new Vuetify(),
    data: {
      titel: "Liste der Lieferanten",
      lieferanten: [],
      alleLieferanten: [],

    },
    methods: {
      getColor(katId) {
        col = "primary";
        if (katId == 1) {
          col = "teal";
        } else if (katId == 3) {
          col = "red";
        }
        return col;
      },
      filterLieferanten(kategorie) {
        console.log("Filter: " + kategorie)
        let temp = [];
        this.alleLieferanten.forEach((lieferant, index) => {
          if (res = lieferant.kategorien.some(k => k['name'] === kategorie)) {
            temp.push(lieferant)
          }
        });

        this.lieferanten = temp;
      },
      resetFilter() {
        this.lieferanten = this.alleLieferanten;
      }
    },
    mounted() {
      //lade daten der lieferanten vom server und zeige diese als karten an...
      fetch("http://localhost:8096/api/lieferant/all")
              .then(response => response.json())
              .then(data => {
                console.log(data);
                this.lieferanten = data;
                this.alleLieferanten = data;
              })
    },
    filters: {
      toUpper: function (value) {
        return value.toUpperCase();
      }
    }
  })
</script>
</body>
</html>
