<template>
    <span>
        <v-dialog
            v-model="dialog"
            fullscreen
            hide-overlay
            transition="dialog-bottom-transition"
        >
            <template v-slot:activator="{ on, attrs }">
                <v-btn color="primary" dark v-bind="attrs" v-on="on" @click="saveLieferant">
                    Lieferant hinzufügen
                </v-btn>
            </template>
            <v-card>
                <v-toolbar dark color="primary">
                    <v-btn icon dark @click="dialog = false">
                        <v-icon>mdi-close</v-icon>
                    </v-btn>
                    <v-toolbar-title>Settings</v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-toolbar-items>
                        <v-btn dark text @click="dialog = false"> Save </v-btn>
                    </v-toolbar-items>
                </v-toolbar>
                <v-list three-line subheader>
                    <v-subheader>User Controls</v-subheader>
                    <v-list-item>
                        <v-list-item-content>
                            <v-list-item-title
                                >Content filtering</v-list-item-title
                            >
                            <v-list-item-subtitle
                                >Set the content filtering level to restrict
                                apps that can be
                                downloaded</v-list-item-subtitle
                            >
                        </v-list-item-content>
                    </v-list-item>
                    <v-list-item>
                        <v-list-item-content>
                            <v-list-item-title>Password</v-list-item-title>
                            <v-list-item-subtitle
                                >Require password for purchase or use password
                                to restrict purchase</v-list-item-subtitle
                            >
                        </v-list-item-content>
                    </v-list-item>
                </v-list>
                <v-divider></v-divider>
                <v-list three-line subheader>
                    <v-subheader>General</v-subheader>
                    <v-list-item>
                        <v-list-item-action>
                            <v-checkbox v-model="notifications"></v-checkbox>
                        </v-list-item-action>
                        <v-list-item-content>
                            <v-list-item-title>Notifications</v-list-item-title>
                            <v-list-item-subtitle
                                >Notify me about updates to apps or games that I
                                downloaded</v-list-item-subtitle
                            >
                        </v-list-item-content>
                    </v-list-item>
                    <v-list-item>
                        <v-list-item-action>
                            <v-checkbox v-model="sound"></v-checkbox>
                        </v-list-item-action>
                        <v-list-item-content>
                            <v-list-item-title>Sound</v-list-item-title>
                            <v-list-item-subtitle
                                >Auto-update apps at any time. Data charges may
                                apply</v-list-item-subtitle
                            >
                        </v-list-item-content>
                    </v-list-item>
                    <v-list-item>
                        <v-list-item-action>
                            <v-checkbox v-model="widgets"></v-checkbox>
                        </v-list-item-action>
                        <v-list-item-content>
                            <v-list-item-title
                                >Auto-add widgets</v-list-item-title
                            >
                            <v-list-item-subtitle
                                >Automatically add home screen
                                widgets</v-list-item-subtitle
                            >
                        </v-list-item-content>
                    </v-list-item>
                </v-list>
            </v-card>
        </v-dialog>
    </span>
</template>

<script>
module.exports = {
    data() {
        return {
            dialog: false,
            notifications: false,
            sound: true,
            widgets: false,
        };
    },
    methods: {
        saveLieferant() {
            let myvalue = JSON.stringify({
               
                        name: "name",
                        strasse: "strasse",
                        hnr: "3b",
                        ort: "ort",
                        land: "DE",
                        www: "www",
                        www_menue: "www_menue",
                        email: "email@email.de",
                        telefon: "1234566"
                   
            });

            fetch("http://localhost:8096/api/lieferant", {
                method: "post",
                headers: {
                    "Content-Type": "application/json",
                },
                body: myvalue,
            })
                .then(function (response) {
                    return response.json(myvalue);
                })
                .then(function (text) {
                    console.log(text);
                })
                .catch(function (error) {
                    console.error(error);
                });
            return col;
        },
    },
};
</script>