<template>
    <div class="text-center mt-12">
        <v-rating
            v-model="calcRatingAvg"
            color="yellow darken-3"
            background-color="yellow darken-3"
            half-increments
            readonly
            :empty-icon="rating.emptyIcon"
            :full-icon="rating.fullIcon"
            :half-icon="rating.halfIcon"
        ></v-rating>
    </div>
</template>

<script>
module.exports = {
    props: ["item"],
    data: () => ({
        rating: {
            emptyIcon: "mdi-star-outline",
            fullIcon: "mdi-star",
            halfIcon: "mdi-star-half",
        },
    }),
    computed: {
        calcRatingAvg() {
            let avg = 0;
            let sum = 0;
            let anz = 0;
            this.item.ratings.forEach((rating, index) => {
                sum += rating.rating;
                anz++;
                avg = sum / anz;
            });
            console.log("Rating: " + avg);
            return avg;
        },
    },
};
</script>